<div id="marquee1"><marquee scrollamount="5"> श्री वक्रतुण्ड महाकाय सूर्य कोटी समप्रभा।
    निर्विघ्नं कुरु मे देव सर्व-कार्येशु सर्वदा॥</marquee>
</div>
    <h1 id="h1"><u> Welcome To BookMy</u><i>पंडितजी</i> </h1>
     <form>
     <div id="PC">
    <div align="right">
    <button type="button" id="Pregistration" (click)="pregistration()"> Priest Registration </button> 
    <button type="button" id="Cregistration"(click)="cregistration()"> Client Registration </button>
    
    <button type="button" id="Plogin" (click)="Plogin()">Priest Login</button>
    <button type="button" id="Clogin" (click)="clogin()">Client Login</button> 
    </div>
    </div>
    </form>
       
    <div class="slideshow-container">
        <img src="/assets/images/ClientLogin.jpg">
        <img src="/assets/images/p.jpg">
        <img src="/assets/images/5.jpg">
        <img src="/assets/images/s.jpg">
    </div>  
    
    

<pre >
    <h5  style="font-size:25px; background-color:chocolate;">
        <i>Our solely motive to serve our customers with the intention of:
            सर्वे भवन्तु सुखिनः सर्वे सन्तु निरामया,
            सर्वे भद्राणि पश्यन्तु मा कश्चिद् दुख भागभवेत।
            ऊँ शांतिः शांतिः शांतिः
            अर्थ - "सभी सुखी होवें, सभी रोगमुक्त रहें,
            सभी मंगलमय घटनाओं के साक्षी बनें और किसी को 
            भी दुःख का भागी न बनना पड़े।" 
        </i>
    </h5>
</pre>
  
<div id="tag" align="center"><a href=" ">Home</a> | <a href="AboutUs.html">About us</a> | <a href="ContactUs.html">Contact us</a> | <a href="NavGrahaVichar.html">नवग्रह विचार</a> </div><br>
<div><marquee scrollamount="10"> <b> @BookMyPanditJi </b></marquee></div>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
