<body align="center" bgcolor="orange">
 <br>
  <div>
    <div class="header"> <h1><u>Client Registration Form</u></h1> </div><br>
    <div align="right" id="tag"><b>Already registered?</b> <a (click)="gotologin()">Click here to Login as Client</a> | <a href="#">HomePage</a> </div>
    <!-- <img src="1.jpg" alt="1" width="300" height="200"> -->
    <marquee>Please fill the form below to Register as <b>Client </b> </marquee>
    <br><br>

<form #registerinform="ngForm" (ngSubmit)="registerClient()">
<small class="danger">{{msg}}</small>

			<table style="width:50%" align="center">
				
		  
				<tr></tr>
				<tr>
				  	<th>First Name</th>
					<td><input type="text" name="First_name" [(ngModel)]="client.firstName" required /></td>
				</tr>
        <tr></tr>

				<tr>
          <th>Last Name</th>
          <td><input type="text" name="Last_name" [(ngModel)]="client.lastName" required /></td>
				</tr>
        <tr></tr>

				<tr>
					<th>Contact Number</th>
					<td><input type="number" name="Contact number" [(ngModel)]="client.contactNumber" required /></td>
        </tr>
        <tr></tr>

				<tr>
					<th>City</th>
					<td><input type="text" name="City" [(ngModel)]="client.city" required /></td>
				</tr>
        <tr></tr>

				<tr>
					<th>Email Id</th>
					<td><input type="text" name="Email_Id" [(ngModel)]="client.emailId" required /></td>
				</tr>
        <tr></tr>

					<tr>
					<th>Password</th>
					<td><input type="password" name="password" [(ngModel)]="client.password" required /></td>
			  	</tr>
          <tr></tr>

				<tr>
					<th>Confirm Password</th>
					<td><input type="password" name="cpassword" /></td>
				</tr>
        <tr></tr>

        <tr>
          <td></td>
          <td><button type="submit" value="Register" class="submit">Register</button></td>
        </tr>
				</table>
				<br>
			
      </form>
      <br><br>
      <br><br>
      
</div>
</body>


 
