<body>
<br>

<h1 id="h1" class="pad" align="center"> <b><i> CONTACT US </i></b></h1>
<div align="right"><a href="#">BACK</a> </div>
<h2 class="pad" align="center" id="h2"><i> Call us or email us for your queries </i></h2>

<div id="nm">
<table>
 <tr><pre><b>ANKIT GITE</b></pre>
    <pre><b>ankitgite@gmail.com</b></pre>
    <pre><b>9999992222</b></pre></tr>   

<tr><pre><b>VISHWAJEET LATPATE</b></pre>
    <pre><b>vlatpate@gmail.com</b></pre>
    <pre><b>9405053423</b></pre></tr>

    <tr><pre><b>ARNAV BHARGAVA</b></pre>
        <pre><b>arnavbhargava@gmail.com</b></pre>
        <pre><b>8888887654</b></pre></tr>

</table>
</div> 
<br>
</body>