<br>
<body>
  <br>
<h1 align="center"  style="color:whitesmoke;">Welcome </h1>

<form #loginsuccessform="ngForm" (ngSubmit)="getAll()">
 <div class="form-group">   
 <label for="vidhiSelection"  style="color:whitesmoke;">Vidhis list (select one):</label>
 <select name="vidhiSelection" [(ngModel)]="vidhiName" class="form-control" id="vidhiSelection">
    <option *ngFor="let vidhiOption of vidhiOptions" [name]="vidhiOption.name" [ngValue]="vidhiOption.name">{{vidhiOption.name}}</option>
 </select>
<br>
<button class="btn btn-primary" type="submit" class="submit">Submit</button>
</div>
</form>
<br>

<table class="table table-striped" >
  <thead>
    <tr>
     
      <th scope="col">firstName</th>
      <th scope="col">lastName</th>
      <th scope="col">contactNumber</th>
      <th scope="col">city</th>
      <th scope="col">Date</th>
      <th scope="col">dakshina</th>
      <th></th>
    </tr>
  </thead>
  
      
    <tbody *ngFor="let p of data">
      <tr>
        
        <td> {{p.firstName}}</td>
        <td> {{p.lastName}}</td>
        <td> {{p.contactNumber}}</td>
        <td> {{p.city}}</td>
        <td><input matInput [matDatepicker]="picker" placeholder="Pick a date" (dateInput)="inputEvent($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker></td>
        <td> {{p.dakshina}}</td>
        <td><button type="button" class="btn btn-primary" class="submit" (click)="gotobooking(p.vidhiPanditId)">Select</button></td>
      </tr>
    </tbody>
</table>
<br>
<p>{{msg}}</p>
<br>

<button type="button" class="btn btn-primary" (click)="getAllBooking()" class="submit">To View All Bookings</button>

<h3  style="color:whitesmoke;">Booking Table</h3>


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">BookingId</th>
        <th scope="col">Vidhi Name</th>
        <th scope="col">Pandit Name</th>
         <th scope="col">Dakshina</th>
         <th scope="col">Date</th>      
        </tr>
    </thead>
    
        
    <tbody *ngFor="let b of bookingData">
        <tr>
          <td> {{b.bookingId}}</td>
          <td> {{b.vidhiName}}</td>
          <td> {{b.panditName}}</td>
          <td> {{b.dakshina}}</td>
          <td> {{b.date}}</td>
          </tr>
      </tbody>     
  </table>
<br>  
</body>
