
body {
    background-image: url('/assets/images/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.submit{
    background-color: rgb(196, 48, 12);
      color: black;
      padding: 8px 12px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      margin: 3px 2px;
      cursor: pointer;
      width: 50%;
      }

p{
    text-align: center;
    color:aliceblue;
    font-size: large;
}

