<body>
    <br>
    <h1 class="h1 pad" align="center"> <b> <i>ABOUT US</i> </b></h1>
    <div align="right"><a href="#">BACK</a> </div>
    
    <h2 class = "pad" style="font-size:45px; background-color:orangered;"> What is <u><i>BookMyPanditJi</i></u> ?????</h2>
    
    <pre class="pad" style="font-size:20px; background-color:khaki;"> <b>BookMyPanditJi</b> is the India’s leading and most 
    trusted online platform for Hindu puja service, Vedic Rituals, Religious Ceremonies and Astrology Services. 
    We provide the India’s well-known, highly qualified and experienced Shastries and Pandits for you who will 
    come to your house and do the puja. Our services also include online Puja Samagri or Puja Items.
    
    BookMyPanditJi covers major rituals that include the Hawan, Shanti Vidhi, Shubh Vivah – Wedding Ceremony, 
    Satyanarayan Katha, Griha pravesh , Namkaran Sanskar or Naming Ceremony, Nava Graha Shanti, Vangnischaya or
     Sakharpude or Engagement, Laxmi Puja, Thread Ceremony or Maunji Bandhan, Ganesh Puja, Annaprashan, 
    Ramayan Paath, Mundan Sanskar, Bhagwat katha, Vastu Shanti, Sundarkand Puja etc.
    
    You will also find lots of knowledge and details on Hindu rituals on this website. So if you are looking 
    for online Pandit ji or want to have puja at your place then book your puja now!! 
    </pre>
    
    
    <br>
    
    
    </body>
