<body>
    <br>
    <h1 id="h1" class="pad" align="center" style="padding-top: 30px;"> <b> <i>नवग्रह विचार</i> </b></h1>
    <pre style="font-size:15px; background-color:chocolate;">
    <div align="right"><a href="#">BACK</a> </div>
    
    
    
    ज्योतिष शास्त्र में नवग्रह शांति (Navgrah Mantra ) पूजा का विधान भी बताया गया है. व्यक्ति के संपूर्ण जीवन में इन नव ग्रहों का प्रभाव रहता है. 
    व्यक्ति का आचरण, वाणी और स्वभाव पर ग्रहों का असर रहता है.
    ग्रहों की पीड़ा से शायद ही कोई बच सका है. व्यक्ति जीवन भर किसी न किसी ग्रह से पीड़ित रहता ही रहता है. ज्योतिष शास्त्र इस पीड़ा को कम करने का माध्यम है. 
    व्यक्ति के जीवन में आने वाले संकट को टाला तो नहीं जा सकता है लेकिन उसके प्रभाव को ज्योतिष उपायों के माध्यम से बहुत हद तक कम किया जा सकता है. 
    कुछ उपाय ऐसे भी है जिन्हें कभी भी प्रयोग में लाया जा सकता है. इन उपायों को व्यक्ति स्वयं भी कर सकता है. इन उपायों के करने से ग्रहों की अशुभता कम होने लगती 
    है जिससे उसकी परेशानी भी कम होने लगती हैं.
    
    
    1.	सूर्य :
            सूर्य को ग्रहों का राजा कहा गया है. इस ग्रह को शांति करने के लिए सूर्य को जल चढ़ाना चाहिए. गायत्री मंत्र का जाप करने से भी सूर्य प्रसन्न होते हैं. 
            विष्णु भगवान की पूजा करने से सूर्य की अशुभता दूर होती है. 
            सूर्य का प्रमुख रत्न माणिक्य है जो गहरे लाल-गुलाबी रंग का होता है। इसका उपरत्न लाल-रक्तमणि माना जाता है। सूर्य की प्रमुख धातु ताम्र यानि तांबा और अनाज गेहूं है।
            अत: सूर्य को प्रसन्न करने के लिए विशेषज्ञ की सलाह से माणिक्य या रक्तमणि पहना जाता है। तांबा धातु पहनना एवं गेहूं का दान करना शुभ होता है।
                सूर्य का मंत्र- ऊँ ह्रां ह्रीं ह्रौं स: सूर्याय नम:
    
    2. 	चंद्रमा:
            चंद्रमा मन का कारक है. चद्रंमा जब जीवन में खराब फल देने लगे तो भगवान शिव की पूजा करनी चाहिए. सोमवार को शिवलिंग का अभिषेक करें या जल चढ़ाएं. शिव चालीसा
            का पाठ करें और सफेद वस्तुओं का दान करने से चंद्रमा खराब फल देना बंद कर देते हैं. चंद्रमा का प्रमुख रत्न श्वेत मोती है और इसकी धातु चांदी है। अनाज में चावल को चंद्रमा का
            कारक माना जाता है।    
                चंद्रमा का मंत्र- ऊँ  सों सोमाय नम:
    
    
    3.	मंगल:
            मंगल की अशुभता को दूर करने के लिए हनुमान जी की पूजा करनी चाहिए. मंगलवार को सुंदरकांड या हनुमान चालीसा का पाठ करने से आराम मिलता है.
            मंगल का प्रमुख रत्न मूंगा है और जिसे तांबे में पहनना शुभ माना जाता है। अनाज में लाल मसूर की दाल को मंगल का कारक माना जाता है।
                मंगल का मंत्र- ऊँ  अं अंगारकाय नम:
    
    4. 	बुध:
            बुध ग्रह को युवराज माना गया है. बुध खराब होने से व्यक्ति की सुंदरता कम कर देते हैं त्वचा संबंधी परेशानी देते हैं. बुध की अशुभता को दूर करने के लिए हरी सब्जी, हरे वस्त्र और 
            भगवान गणेश की पूजा करनी चाहिए.  बुध ग्रह का प्रमुख रत्न पन्ना है और इसकी धातु कांसे को माना जाता है। हरी मूंग, हरा रंग, व हरिल वस्तुएं बुध की कारक हैं।
                बुध का मंत्र- ऊँ  बुं बुधाय नम:
    
    
    5. 	गुरु :
            गुरु को मजबूत बनाने के लिए ब्रह्माजी,केला और पीपल के वृक्ष की पूजा करनी चाहिए. वहीं पीली वस्तुओं के दान से भी गुरु की अशुभता दूर होती है.
            गुरु का प्रमुख रत्न पुखराज है। इसके अलावा सोना,चनादाल,पीला रंग, पीली हल्दी को भी गुरु का कारक माना गया है।
                गुरु का मंत्र- ऊँ  बृं बृहस्पतये नम:
    
    6. 	शुक्र:
            शुक्र जब अशुभ फल देते हैं तो व्यक्ति की सुख सुविधाओं में कमी कर देते हैं. शुक्र को ठीक करने के लिए गाय की सेवा करनी चाहिए. व्यसनों से दूर रहना चाहिए और 
            पत्नी को धोखा नहीं देना चाहिए. शुक्र ग्रह का प्रमुख रत्न हीरा है। चांदी, चावल, श्वेत स्फटिक एवं सफेद रंग को शुक्र का कारक माना जाता है।
                शुक्र का मंत्र- ऊँ  शुं शुक्राय नम:
    
    7. 	शनि:
     
            शनि जब अशुभ होते हैं तो व्यक्ति को पूरी तरह से बर्बाद कर देते हैं. शनि को खुश रखने के लिए हनुमान जी की पूजा करनी चाहिए. भगवान भोलेनाथ की पूजा से भी शनि का 
            प्रभाव कम होता है. काले उड़द, काले तिल, तेल एवं काले वस्त्र का दान करने से भी शनि शांत होते हैं.
            शनि ग्रह का प्रमुख रत्न नीलम है और लोहा, उड़ददाल, काला-नीलमणि आदि को शनि का कारक माना जाता है। 
                शनि का मंत्र- ऊँ  प्रां प्रीं प्रौं स: शनैश्चराय नम:
    
    8.	 राहु :
     
            राहु जब खराब फल देता है तो व्यक्ति कई तरह की परेशानियों में फंस जाता है. उसके काम रुक जाते हैं. इस ग्रह की अशुभता को दूर करने के लिए कंबल,काले फूल, नारियल, 
            कोयला का दान करना चाहिए. गलत संगत से बचना चाहिए.
            राहु के लिए गोमेद रत्न धारण किया जाता है। इसके साथ ही सीसा, तिल, काले रंग को राहु का कारक माना गया है।
                राहु का मंत्र- ऊँ  भ्रां भ्रीं भ्रौं स: राहवे नम:
    
    
    9. 	केतु:
     
            केतु जब खराब होता है तो व्यक्ति के जीवन में बहुत तेजी से बुरी चीजें घटित होने लगती है. अचानक हानि पहुंचाना इसकी खासियत है. केतु के उपाय के लिए काले कुत्ते को शनिवार
            के दिन भोजन कराना चाहिए. मंदिर में कंबल दान करना चाहिए.
            केतु का रत्न लहसुनिया माना गया है और लोहा, सफेद तिल, ध्रूमवर्ण, नौरंगी को इसका कारक माना गया है।
                केतु का मंत्र- ऊँ  स्त्रां स्त्रीं स्त्रौं स: केतवे नम:
    
    
    
    <i>
    NOTE: All the information provided above is based on Vedic Astrology.
    </i>
    </pre>
    </body>